{{ header }}{{ column_left }}
<div id="content" style="text-align: center; max-width: 600px; margin: auto;">
  <h2>{{ heading_title }}</h2>

  <table class="table table-bordered">
    <tr>
      <th>{{ text_transaction_id }}</th>
      <td>{{ trx_id }}</td>
    </tr>
    <tr>
      <th>{{ text_total }}</th>
      <td><strong>Rp {{ amount }}</strong></td>
    </tr>
  </table>

  <a href="{{ redirect_url }}" target="_blank" class="btn btn-success">Open E-Wallet App</a>
  <br><br>
  <a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a>
</div>
{{ footer }}